<!-- IF TABS_MENU_ENABLE and TABS_MENU_FUT and U_TM_TABS -->
<div class="tabs-container tab-bbcode-menu">
	<!-- DEFINE $SHOW_PANEL = 'tab1-panel' -->
	<div id="tabs" class="tabs sub-panels" data-show-panel="{$SHOW_PANEL}" role="tablist">
		<ul>
			<li id="tab1-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab1-panel" role="tab" aria-controls="tab1-panel">{L_TABS_MENU_TEXT_1}</a>
			</li>
			
<!-- IF TABS_MENU_ENABLE_1 -->
			<li id="tab2-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab2-panel" role="tab" aria-controls="tab2-panel">{L_TABS_MENU_TEXT_2}</a>
			</li>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_2 -->
			<li id="tab3-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab3-panel" role="tab" aria-controls="tab3-panel">{L_TABS_MENU_TEXT_3}</a>
			</li>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_3 -->
			<li id="tab4-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab4-panel" role="tab" aria-controls="tab4-panel">{L_TABS_MENU_TEXT_4}</a>
			</li>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_4 -->
			<li id="tab5-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab5-panel" role="tab" aria-controls="tab5-panel">{L_TABS_MENU_TEXT_5}</a>
			</li>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_5 -->
			<li id="tab6-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab6-panel" role="tab" aria-controls="tab6-panel">{L_TABS_MENU_TEXT_6}</a>
			</li>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_6 -->
			<li id="tab7-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab7-panel" role="tab" aria-controls="tab7-panel">{L_TABS_MENU_TEXT_7}</a>
			</li>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_7 -->
			<li id="tab8-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab8-panel" role="tab" aria-controls="tab8-panel">{L_TABS_MENU_TEXT_8}</a>
			</li>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_8 -->
			<li id="tab9-panel-tab" class="tab">
				<a href="#tabs" data-subpanel="tab9-panel" role="tab" aria-controls="tab9-panel">{L_TABS_MENU_TEXT_9}</a>
			</li>
<!-- ENDIF -->
		</ul>
	</div>
</div>

<fieldset id="tab1-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="panel bg1">
			<h3>{L_TABS_MENU_TEXT_1}</h3>
			<p>
				{TABS_MENU_STEADY}
			</p>
		</div>			
	</div>
</fieldset>

<!-- IF TABS_MENU_ENABLE_1 -->
<fieldset id="tab2-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="bbcode-menu tab2-panel-tab panel bg1">
			<h3>{L_TABS_MENU_TEXT_2}</h3>
			<p>
				{TABS_MENU_TEXT_1}
			</p>
		</div>
	</div>
</fieldset>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_2 -->
<fieldset id="tab3-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="bbcode-menu tab3-panel-tab panel bg1">
			<h3>{L_TABS_MENU_TEXT_3}</h3>
			<p>
				{TABS_MENU_TEXT_2}
			</p>
		</div>
	</div>
</fieldset>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_3 -->
<fieldset id="tab4-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="bbcode-menu tab4-panel-tab panel bg1">
			<h3>{L_TABS_MENU_TEXT_4}</h3>
			<p>
				{TABS_MENU_TEXT_3}
			</p>
		</div>
	</div>
</fieldset>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_4 -->
<fieldset id="tab5-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="bbcode-menu tab5-panel-tab panel bg1">
			<h3>{L_TABS_MENU_TEXT_5}</h3>
			<p>
				{TABS_MENU_TEXT_4}
			</p>
		</div>
	</div>
</fieldset>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_5 -->
<fieldset id="tab6-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="bbcode-menu tab6-panel-tab panel bg1">
			<h3>{L_TABS_MENU_TEXT_6}</h3>
			<p>
				{TABS_MENU_TEXT_5}
			</p>
		</div>
	</div>
</fieldset>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_6 -->
<fieldset id="tab7-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="bbcode-menu tab7-panel-tab panel bg1">
			<h3>{L_TABS_MENU_TEXT_7}</h3>
			<p>
				{TABS_MENU_TEXT_6}
			</p>
		</div>
	</div>
</fieldset>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_7 -->
<fieldset id="tab8-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="bbcode-menu tab8-panel-tab panel bg1">
			<h3>{L_TABS_MENU_TEXT_8}</h3>
			<p>
				{TABS_MENU_TEXT_7}
			</p>
		</div>
	</div>
</fieldset>
<!-- ENDIF -->
<!-- IF TABS_MENU_ENABLE_8 -->
<fieldset id="tab9-panel" class="fields2 tab-bbcode-menu" role="tabpanel">
	<div class="panel bg3">
		<div class="bbcode-menu tab9-panel-tab panel bg1">
			<h3>{L_TABS_MENU_TEXT_9}</h3>
			<p>
				{TABS_MENU_TEXT_8}
			</p>
		</div>
	</div>
</fieldset>
<!-- ENDIF -->
<!-- ENDIF -->
